<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" style="border-right: solid 1px #444444"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar style="background-color: #f44336; color: white;">Menu</mat-toolbar>
    <mat-nav-list class="mainlist">
      <mat-list-item (click)="searchEvent()">
        <mat-icon style="font-size: 1.5em;">search</mat-icon>
        <span>Search</span>
      </mat-list-item>
      <mat-list-item (click)="infoEvent()">
        <mat-icon>info</mat-icon>
        <span>Device Data</span>
      </mat-list-item>
      <mat-list-item (click)="terminalEvent()">
        <mat-icon>code</mat-icon>
        <span>Terminal</span>
      </mat-list-item>
      <mat-list-item (click)="disconectEvent()">
        <mat-icon>block</mat-icon>
        <span>Disconnect</span>
      </mat-list-item>
      <mat-list-item (click)="reconectEvent()">
        <mat-icon>refresh</mat-icon>
        <span>Reconnect</span>
      </mat-list-item>
      <mat-list-item (click)="supprotEvent()">
        <mat-icon>contact_support</mat-icon>
        <span>Support</span>
      </mat-list-item>
      <!-- <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: #F0F0F0;">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" style="font-size: 2rem;">menu</mat-icon>
      </button>
      <!-- <span style="font-size: 1.5rem; margin-left: 1rem;">Joito Bluetooth scanner</span> -->
      <span style="font-size: 1.5rem; margin-left: 1rem;">Joito</span>
      <div *ngIf="deviceConected" style="position: absolute; right: 2rem; height: 100%; color: #87BC47; display: flex; align-items:center;">
          <mat-icon>brightness_1</mat-icon>
          <span style="margin-left:1rem;">Conected</span>
      </div>
      <div *ngIf="!deviceConected" style="position: absolute; right: 2rem; height: 100%; color: #f44336; display: flex; align-items:center;">
          <mat-icon>brightness_1</mat-icon>
          <span style="margin-left:1rem;">Disconected</span>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>