#notificationRoot{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F44336;
    z-index: 20;
    border-top: solid 1px #444444;

    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: 450;
    /* height: 0;
    transition: height 2s; */
}