
<div id="rootElm">
    <mat-toolbar>
        <span>My Application</span>
      </mat-toolbar>
  <div *ngIf="showDevice" class="floating">
      <app-ble-device-info>
      </app-ble-device-info>
  </div>

  <div *ngIf="!showDevice" class="floating">
    <div id="noDeviceSelected">
      <div>
        <p>
          No device selected
        </p>
      </div>
    </div>
  </div>
</div>





<button mat-mini-fab class="fixedButtonCircle" (click)="searchDevice()"><!-- fixed main button  -->
  <div style="width:20vw">
    <div class="content">
      <img src="../../assets/img/baseline-search-24px.svg" alt="brk" style="
        width:15vw;">
    </div>
  </div>
</button>