<div id="rootgrid">
  <div class="floating" id="basicInfo">
    <div class="textgray">
      <h2 class="underline" style="margin-bottom: 0.3rem;">Name: {{bleService.DeviceInfo.name}}</h2>
      <p style="font-weight: bold; margin-bottom: 0.6em;">Description:</p>
      <p style="margin-left: 2rem;">{{bleService.DeviceInfo.description}}</p>
    </div>
    <!-- <div id="state-button"> -->
      <button mat-raised-button color="accent" (click)="changeLedState()" *ngIf="!ledState">
        Turn On LED
      </button>
      <button mat-raised-button color="accent" (click)="changeLedState()" *ngIf="ledState">
        Turn Off LED
      </button>
    <!-- </div> -->
  </div>

  <div class="floating">
    <div class="graphName">
      <p>TEMPERATURE:</p>
    </div>
    <div *ngIf="BrokenConection" class="graphConectionLost">
      <p>WARNING: CONECTION LOSTED, DATA MAY NOT BE COMPLETE</p>
    </div>
    <div class="graph">
      <app-real-time-graph class="graphData">
      </app-real-time-graph>
    </div>
  </div>

  <div class="floating">
    <div class="graphName">
      <p>HUMIDYTY:</p>
    </div>
    <div *ngIf="BrokenConection" class="graphConectionLost">
      <p>WARNING: CONECTION LOSTED, DATA MAY NOT BE COMPLETE</p>
    </div>
    <div class="graph">
      <app-real-time-graph class="graphData">
      </app-real-time-graph>
    </div>
  </div>


</div>